body {
    background-color: #1a1a1a;
    color: white;
}

header {
    background-color: #2d2d2d;
}

.button {
    background-color: #444;
    color: #f2f2f2;
    border-color: #888;
}

.button:hover {
    background-color: #666;
    color: #00f;
    border-color: #7f7f7f;
}

article {
    background-color: #222222;
    box-shadow: 0 0 10px 0 #777777;
    color: #f2f2f2;
}

footer {
    background-color: #2d2d2d;
}

form {
    background-color: #222;
}

input[type="text"],
input[type="email"],
textarea {
    border: 1px solid #777777;
    background-color: #555;
    color: #f2f2f2;
}

input[type="text"],
input[type="email"] {
    color: #f2f2f2;
}


input[type="submit"] {
    background-color: #000;
    color: #f2f2f2;
}


.slider {
  background-color: #555;
}

.slider:before {
  background-color: #f2f2f2;
}

input:checked + .slider {
  background-color: #2196F3;
}

.switch-label {
  color: #f2f2f2;
}
