body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #f2f2f2;
}

header {
    background-color: #3e3d3d;
}

.button {
    background-color: #444;
    color: #f2f2f2;
    border-color: #888;
}

.button:hover {
    background-color: #666;
    color: #00f;
    border-color: #7f7f7f;
}

article {
    background-color: #222;
    box-shadow: 0 0 10px 0 #777;
    color: #f2f2f2;
}

article img {
    display: block;
    margin: 0 auto 10px;
}

footer {
    background-color: #3e3d3d;
}

form {
    background-color: #222;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #777;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    background-color: #555;
    color: #f2f2f2;
}

input[type="text"],
input[type="email"] {
    color: #f2f2f2;
}


input[type="submit"] {
    background-color: #000;
    color: #f2f2f2;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #555;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #f2f2f2;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.switch-label {
  margin-right: 10px;
  font-size: 18px;
  color: #f2f2f2;
}
