body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px 0;
    box-shadow: 0 4px 2px -2px gray;
}

h1 {
    margin: 0;
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
    width: 10%;
    position: fixed;
    height: 100%;
    box-shadow: 2px 0 5px -2px gray;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

article {
    max-width: 600px;
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 gray;
}

input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 24px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #333;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -4px 2px -2px gray;
    }
        
